@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, sans-serif;
    background-color: #ecf1fa;
    color: rgb(0, 0, 0);
    box-sizing: border-box;

}

.wb {
    margin-top: 180px;
    font-size: 50px;
    font-weight: lighter;
    font-stretch: extra-expanded;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-container {
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(5px);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    width: 500px;
    height: 410px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;

    margin: auto;
    margin-top: 40px;
    padding-top: 12px;
    padding-bottom: 10px;
}

.google-signin-container {
    padding: auto;
    margin: 10px;
    color: #444444;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.google-signin-container .bitsathyimg {
    margin: 15px;
    display: flex;
    justify-content: center;
}

.gb {
    display: flex;
    flex-direction: row;
    color: rgb(162, 177, 27);
    background-color: #0ea4e9;
    height: 4vh;
    align-items: center;
    justify-content: space-around;
    width: 350px;
    border-radius: 8px;
    cursor: pointer;
    margin: auto;
}

.signin {
    font-size: large;
    font-weight: 500;
    padding-right: 0%;
    color: #ffffff;
}

.gb:hover {
    background-color: #0ea4e98e;
}